<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/projects_to_donate.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
    <title>HUMANE | donor Information</title>

</head>

<body>
    <header>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <h2 class="logo">HUMANE</h2>
            <div class="menu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="projects-to-donate">Charity Projects</a></li>
                    <li><a href="ben-display">Beneficiaries</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <center>
            <h1 style="color:white;" class="text  text-center ">
                DONORS INFORMATION
            </h1>
            <form id="myForm" method='GET' action="/donor-display">
                <table cellspacing="20px" padding="50px"
                    style="color: white; background-color: rgb(3, 35, 48); opacity: 0.6; ">
                    <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile.NO</th>
                        <th>Adhaar</th>
                    </tr>
                    <% var i=1; %>
                        <% if (donors.length> 0) { %>
                            <% donors.forEach(donors=> { %>
                                <tr>
                                    <th class="S.No">
                                        <%= i %>
                                    </th>
                                    <th class="Name">
                                        <%= donors.Name %>
                                    </th>
                                    <th class="Email">
                                        <%= donors.Email %>
                                    </th>
                                    <th class="MobileNO">
                                        <%= donors.MobileNo %>
                                    </th>
                                    <th class="Adhaar">
                                        <%= donors.Adhaar %>
                                    </th>
                                </tr>
                                <% i++ %>
                                    <% }) %>
                                        <% } else { %>
                                            <p>There are no donors to display...</p>
                                            <% } %>
                </table>
                <div style="margin: 50px;"></div>
            </form>
        </center>
        <script>
            function check(name) {
                alert(name);
                alert(window.location.href);
                url = new URL(window.location.href);
                url += '/donor-info/?uid=' + name;
                alert(url);
                window.location = url;
            }
        </script>
</body>

</html>